

.menu-banner{
    @include banner;
    &__pict1{
        background-image:url('../../dist/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
    }
    &__pict2{
        background-image: url('../../dist/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
    }
    &__pict3{
        background-image: url('../../dist/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
    }
    &__pict4{
        background-image: url('../../dist/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
    }
}

.menu-prev{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-mediumgray;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top:-2rem;
    &__heading{
        font-family: 'Shrikhand', cursive;
        font-size: 0.7rem;
        padding: 0 0 0 1rem;
    }
    &__iconlike{
        top:1.5rem;
        right: 2rem;
        @include iconlike;
    }

    &__iconlike--hover{
        top:1.5rem;
        right: 2rem;
        @include iconlike;
    }
}

.menu-section{
    & h2{
     @include h2;
    }
    
}

.menu-box{
    @include size-box3;
    position: relative;
    animation: loader-box 5s ease-in-out 1;
    animation-fill-mode:both;
    opacity: 1;
    scale: 0;
    animation-direction: reverse;

    &__heading{
        padding:0.5rem 0 0.3rem 1rem;
        font-weight: bold;
        font-size: 0.9rem;
    }
    &__subheading{
        width: 20rem;
        padding: 0 0 0 1rem; 
 
        & div{
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
           
    }
    

    &:hover .menu-box__subheading{
        width: 12rem;
        animation: menu-box infinite linear 1;
        animation-fill-mode: both; 
        
    }
    &__price{
        font-weight: bold;
        position: absolute;
        right: 1.5rem;
        bottom:0.7rem;
        transform: translateX(0);
       
    }
    &:hover .menu-box__price{
        transform: translateX(-4rem);
        transition: transform 400ms;
    }


    &__check{
        background-color: $color-tertiary;
        position: absolute;
        display: flex;
        width: 4rem;
        height: 100%;
        top: 0rem;
        right: 0rem;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
        justify-content:center;
        align-items: center;
        color: white;
        font-size: 1.3rem;
        transform: scaleX(0);
    }
    &:hover .menu-box__check {
        transform-origin: 100% 50%;
        transform: scale(1);
        transition: transform 400ms;
    
    }

    & .fa-check-circle{
    transform: rotate(0deg);
    }
    &:hover .fa-check-circle{
        transform: rotate(360deg);
        transition: transform 400ms;
    }

    &--delay0{
        animation-delay: 0s;
    }

    &--delay1{
        animation-delay: 0.2s ;
    }

    &--delay2{
        animation-delay: 0.4s;
    }

    &--delay3{
        animation-delay:0.6s;
    }

    &--delay4{
        animation-delay:0.8s;
    }

    &--delay5{
        animation-delay:1s;
    }

    &--delay6{
        animation-delay:1.2s;
    }

    &--delay7{
        animation-delay:1.4s;
    }

    &--delay8{
        animation-delay:1.6s;
    }

    &--delay9{
        animation-delay:1.8s;
        
    }
}

@keyframes menu-box{
    0%{
        opacity: 1;
        scale: 0;
    }

    100%{
        opacity: 0;
        scale: 1;
    }
}

.command-box{
    display: flex;
    justify-content: center;
    padding: 1.5rem 0 4rem 0;
    &__button{
        @include button-principal;
        width: 100px;
    }

}

@media screen and (min-width:750px){
    
    .menu-box{
        font-size: 1rem;
        height: 4rem;
        padding-top:1rem;
        width:95%;
        &__subheading{
            width: 75%;
        }
    }
}

@media screen and (min-width:1024px){
    .menu-banner{
        height: 30rem;
    }
    .menu-prev{
        display: flex;
        flex-direction: row;
        position: relative;
        margin: -5rem 0 1rem 0;
        & h1 {
            position: absolute;
            top:1rem;
            left:1rem;
        }
    }
    .menu-section{
        padding-top: 5rem;
        padding-bottom: 2rem;
        width: 30rem;
    }
}