
.header-box{
    display: flex;
    justify-content:center;
    background-color: white;
    &__return{
        @include return;
    }
    & img{
        width: 10rem;
        padding: 0.5rem 0 0.5rem 0;
    }
}